.button-row {
	display: flex;
	width: 300px;
}

.button-row>button {
	flex: 1 1 50px;
}

body {
	background-color: powderblue;
	font-family: sans-serif;
}

#body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#display {
	min-width: 15ch;
	text-align: end;
}